<div class="" data-ng-controller="HeaderController">
    <div class="navbar-inner" data-target=".nav-collapse">
        <a class="btn btn-navbar" data-toggle="collapse" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">MetaData</a>
        <div class="navbar-collapse">
            <ul class="nav">            
                <li data-ng-repeat="item in menu" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                    <a href="#!/{{item.link}}">{{item.title}}</a>
                </li>
                <li data-ng-show="global.user"  ng-class="{active: $uiRoute}">
                    <a href="users">Users list</a>
                </li>
            </ul>
            <ul class="navbar-nav nav pull-right" data-ng-hide="global.authenticated">
                <li><a href="signup">Signup</a>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="signin">Signin</a>
                </li>
            </ul>
            <ul class="navbar-nav nav pull-right" data-ng-show="global.authenticated">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{global.user.name}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/signout">Signout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>



