<section data-ng-controller="IndexController">
	<div class="hero-unit">
	<h2>MetaData</h2>
	<p> 这一个基于MEAN的元数据定制系统。</p>
	<p>
		<a class="btn btn-primary btn-large" href="#!/metas">List</a>
		<a class="btn btn-large" href="#!/metas/create">Create</a>
		<a class="btn btn-large" href="#!/metas/upload">Upload</a>
	</p>
	</div>

	<div class="row">
	<div class="span6">
		<h2>mongoDB</h2>
		<p>MongoDB is a document database that provides high performance, high availability, and easy scalability.</p>
			</div>
	<div class="span5">
		<h2>Express</h2>
		<p>
		Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications.</p>
	</div>
	<div class="span6">
		<h2>Node.js</h2>
		<p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.。</p>
	</div>
	<div class="span5">
		<h2>AngularJS</h2>
		<p>AngularJS is an open-source JavaScript framework, maintained by Google, that assists with running single-page applications. Its goal is to augment web-based applications with model–view–controller (MVC) capability, in an effort to make both development and testing easier.。</p>
	</div>


</div>
</section>