<section data-ng-controller="MetasController">
	<form class="form-horizontal col-md-6" role="form" data-ng-submit="create()">

		
		<div class="form-group">
			<label for="title">Title</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div class="form-group">
			<label for="content">Content</label>
			<div class="col-md-10">
				<textarea data-ng-model="content" id="content" cols="60" rows="20" placeholder="Content" class="form-control" required></textarea>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>

	</form>
</section>