<section data-ng-controller="MetasController" data-ng-init="find()">
	<ul class="thubnails">
		<li class="span4" data-ng-repeat="meta in metas">
			<a data-ng-href="#!/metas/{{meta._id}}">
			<div class="thumbnail">
				<span>{{meta.created | date:'medium'}}</span> /
				<span>{{meta.user.name}}</span>			
				<h4>{{meta.title}}</h4>
			</div class="thumbnail">
			</a>
		</li>
	</ul>
	<h1 data-ng-hide="!metas || metas.length">No metas yet. <br> Why don't you <a href="/#!/metas/create">Create One</a>?</h1>
</section>

