<section data-ng-controller="MetasController" data-ng-init="findOne()">

	<h4>{{meta.title}}</h4>	
		

    <div>
        Name <input ng-model="query.$">
        <i class="glyphicon glyphicon-search"></i>
        <a href="#!/metas/table" class="btn btn-primary"><i class="icon-white glyphicon glyphicon-arrow-left"></i> Back</a>
        <br>
        <hr/>
        <tabset>
          <tab heading="NodeType">
            <table class="table table-hover">
              <thead>
                <tr>
                	<th><a href="" ng-click="predicate = 'attr.Name'; reverse=!reverse">Name</a></th>
                    <th><a href="" ng-click="predicate = 'attr.Label'; reverse=!reverse">Label</a></th>
                    <th><a href="" ng-click="predicate = 'attr.Exposed'; reverse=!reverse">Exposed</a></th>
                    <th><a href="" ng-click="predicate = 'attr.Customizable'; reverse=!reverse">Customizable</a></th>
                </tr>    
              </thead>
              <tbody>
                  <tr data-ng-repeat="item1 in root.BusinessObjectType.NodeTypes[0].NodeType| filter:query:strict | orderBy:predicate:reverse">
                      <td >{{item1.attr.Name}}</td> 
                      <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Label"  placeholder="undefined"></td>
                      <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Exposed"  placeholder="undefined"></td>
                      <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Customizable"  placeholder="undefined"></td>
                  </tr>
              </tbody>
              </table>
          </tab>
          <tab heading="Property">

            <tabset vertical="true" type="navType">
              <tab heading="In RootNode">
              	<table class="table table-hover">
              	<thead>
              	  <tr>
              	  	<th><a href="" ng-click="predicate = 'attr.Name'; reverse=!reverse">Name</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.Search'; reverse=!reverse">Search</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.Exposed'; reverse=!reverse">Exposed</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.Label'; reverse=!reverse">Label</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.Customizable'; reverse=!reverse">Customizable</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.AllowChange'; reverse=!reverse">AllowChange</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.Mandatory'; reverse=!reverse">Mandatory</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.Enabled'; reverse=!reverse">Enabled</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.ValidValues'; reverse=!reverse">ValidValues</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.ValidationRule'; reverse=!reverse">ValidationRule</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.Filter'; reverse=!reverse">Filter</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.Sort'; reverse=!reverse">Sort</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.Description'; reverse=!reverse">Description</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.ReadOnly'; reverse=!reverse">ReadOnly</a></th>
              	    <th><a href="" ng-click="predicate = 'attr.DefaultValue'; reverse=!reverse">DefaultValue</a></th>
              	  </tr>    
              	</thead>
              	<tbody>
              	    <tr data-ng-repeat="item1 in root.BusinessObjectType.RootNode[0].Properties[0].Property | filter:query:strict | orderBy:predicate:reverse">
              	        <td >{{item1.attr.Name}}</td> 
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Search"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Exposed"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Label"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Customizable"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.AllowChange"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Mandatory"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Enabled"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.ValidValues"  placeholder="undefined"></td>   
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.ValidationRule"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Filter"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Sort"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.Description"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.ReadOnly"  placeholder="undefined"></td>
              	        <td ><input type="text"  class="form-control" data-ng-model="item1.attr.DefaultValue"  placeholder="undefined"></td>

              	    </tr>
              	</tbody>
              	</table>
              </tab>
              <tab heading="In NodeType">
                <div ng-repeat="item1 in root.BusinessObjectType.NodeTypes[0].NodeType">
					<accordion >
    	 				<accordion-group heading="NodeType Name: {{item1.attr.Name}}" is-open="false" >
						<div style="overflow-x:scroll">		
						<table class="table table-hover">
              				<thead>
              				  <tr>
              				  	<th><a href="" ng-click="predicate = 'attr.Name'; reverse=!reverse">Name</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.Search'; reverse=!reverse">Search</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.Exposed'; reverse=!reverse">Exposed</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.Label'; reverse=!reverse">Label</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.Customizable'; reverse=!reverse">Customizable</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.AllowChange'; reverse=!reverse">AllowChange</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.Mandatory'; reverse=!reverse">Mandatory</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.Enabled'; reverse=!reverse">Enabled</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.ValidValues'; reverse=!reverse">ValidValues</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.ValidationRule'; reverse=!reverse">ValidationRule</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.Filter'; reverse=!reverse">Filter</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.Sort'; reverse=!reverse">Sort</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.Description'; reverse=!reverse">Description</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.ReadOnly'; reverse=!reverse">ReadOnly</a></th>
              				    <th><a href="" ng-click="predicate = 'attr.DefaultValue'; reverse=!reverse">DefaultValue</a></th>
              				  </tr>    
              				</thead>
              				<tbody>
              				  <tr data-ng-repeat="item2 in item1.Properties[0].Property | filter:query:strict | orderBy:predicate:reverse">
              				    <td >{{item2.attr.Name}}</td> 
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.Search"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.Exposed"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.Label"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.Customizable"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.AllowChange"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.Mandatory"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.Enabled"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.ValidValues"  placeholder="undefined"></td>   
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.ValidationRule"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.Filter"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.Sort"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.Description"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.ReadOnly"  placeholder="undefined"></td>
              				    <td ><input type="text"  class="form-control" data-ng-model="item2.attr.DefaultValue"  placeholder="undefined"></td>
              				  </tr>
              				</tbody>
              			</table>
						</div>
						</accordion-group >
    	 			</accordion>
				</div>
              </tab>
            </tabset>
          </tab>
        </tabset>
    </div>

	<div class="form-group">
		</br>
		<button type="submit" data-ng-click="modify();" class="btn btn-default">Submit</button>
	</div>

</section>

