<section data-ng-controller="MetasController" data-ng-init="find()">
    <br><br>
    <div>
        BOname <input ng-model="query.$">

        <i class="glyphicon glyphicon-search"></i>
        <br>
        <hr/>
        <table class="table table-hover">
        <thead>
          <tr>
              <th><a href="" ng-click="predicate = 'BusinessObjectType.attr.Name'; reverse=!reverse">BOname</a></th>
              <th><a href="" ng-click="predicate = 'BusinessObjectType.attr.Label'; reverse=!reverse">Label</a></th>
              <th><a href="" ng-click="predicate = 'BusinessObjectType.attr.Exposed'; reverse=!reverse">Exposed</a></th>
              <th><a href="" ng-click="predicate = 'BusinessObjectType.attr.Enabled'; reverse=!reverse">Enabled</a></th>
              <th><a href="" ng-click="predicate = 'BusinessObjectType.attr.Customizable'; reverse=!reverse">Customizable</a></th>
          </tr>    
        </thead>
        <tbody>
          <tr data-ng-repeat="root in roots | filter:query:strict | orderBy:predicate:reverse">
              <td >{{root.BusinessObjectType.attr.Name}}<a data-ng-hide="!reverse" ng-href="#!/metas/{{metas[$index]._id}}/modify"> <i class="glyphicon glyphicon-cog"></i></a></td> 
              <td ><input type="text"  class="form-control" data-ng-model="root.BusinessObjectType.attr.Label"  placeholder="undefined"></td>
              <td ><input type="text"  class="form-control" data-ng-model="root.BusinessObjectType.attr.Exposed"  placeholder="undefined"></td>
              <td ><input type="text"  class="form-control" data-ng-model="root.BusinessObjectType.attr.Enabled"  placeholder="undefined"></td>
              <td ><input type="text"  class="form-control" data-ng-model="root.BusinessObjectType.attr.Customizable"  placeholder="undefined"></td>
          </tr>
        </tbody>
        </table>
    </div>
    <h1 data-ng-hide="!metas || metas.length">No metas yet. <br> Why don't you <a href="/#!/metas/create">Create One</a>?</h1>

    <div class="form-group">
            <button type="submit" data-ng-click="modifyall();" class="btn btn-default">Submit</button>
    </div>

</section>



