
<section data-ng-controller="MetasController" data-ng-init="findOne()">
    <span>{{meta.created | date:'medium'}}</span> /
    <span>{{meta.user.name}}</span>
    <h2>{{meta.title}}</h2>
    <!-- div data-ng-show="global.user._id == meta.user._id" -->
    <div>
        <a class="btn" href="/#!/metas/{{meta._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
        <a class="btn" href="/#!/metas/{{meta._id}}/modify">
            <i class="glyphicon glyphicon-cog"></i>
        </a>
    </div>
      
    <div>
        {{meta.content}}
    </div>

    <div ng-controller='myCtrl'>
        <json-tree json='jsonData'></json-tree>
    </div>

</html>

</section>


<!--
    <div class="mainView" ng-controller="MainViewCtrl">

        <h2>JSONedit</h2>
        <h3>The Editor</h3>
        <div class="jsonView" defocus>
            <json child="jsonData" type="'object'"></json>
        </div>

        <h3>The JSON</h3>
        <div>
            <textarea ng-model="jsonString"></textarea>
        </div>

    </div>
    -->