<!doctype html>
<html lang="en" >
	{% include '../includes/head.html' %}
	<body>
		<div class="navbar navbar-fixed-top" data-ng-include="'views/header.html'"></div>
		<section class="content">
            <section class="col-md-10 col-md-offset-1">
  		        {% block content %}{% endblock %}
            </section>
        </section>
        {% include '../includes/foot.html' %}
    </body>
</html>
